.container{
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*Para la separación entre columnas*/
    column-gap: 10px;
    /*Para la separación entre filas*/
    row-gap: 20px;
}

.caja{
    background-color: aquamarine;
    color: darkgreen;
    padding: 10px;
    text-align: center;
}

.caja1{
    grid-column: 1/3;
    grid-row: 1/3;
}
.caja2{
    grid-area: 1 / 3 / 4 / 5;
}
.caja3{
    grid-column: 1/3;
    grid-row: 3/5;
}

.container2{
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.caja1-4{
    height: 50px;
    background-color: hsl(251, 67%, 76%);
    grid-column: 1/3;
}
.caja2-4{
    height: 140px;
    background-color: hsl(39, 100%, 73%);
    grid-row: 2/4;
}
.caja3-4{
    height: 110px;
    background-color: hsl(60, 100%, 66%);
}
.caja4-4{
    height: 30px;
    background-color: hsl(111, 100%, 71%);
}
